/* Выбор направления */
.vb {
    padding-top: 70px;
}

.vb h1 {
    font-family: "TTNorms-bold";
    color: var(--purple-dark);
    font-size: 36px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

.vb h2 {
    color: var(--purple-dark);
    text-align: center;
    font-size: 30px;
    font-weight: normal;
}





/* Направления */
.nap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 70px 0;
}

.np {
  margin: 0 0 25px 0;
  cursor: text;
}

@media (hover: hover) {
.np:hover {
    cursor: pointer;
}
}

.foto {
    border-radius: 100%;  
    cursor: pointer;
}

.foto img {
    width: 250px;
    pointer-events: none;
}

.activ {
    background-image: var(--gradient);
    transition: all 250ms ease;
    position: relative;
    transform: scale(1.0)
    
}

@media (hover: hover) {
.foto:hover {
    background-image: var(--gradient);
    transition: all 250ms ease;
    position: relative;
    transform: scale(1.1)
}
}
.ft {
    position:absolute;
    margin-top: 1px;
    margin-left: -250px;
}

@media (hover: hover) {
.ft:hover {
    transition: all 250ms ease;
    margin-top: -6px;
    margin-left: -257px;
}
}

.zag {   
    padding-top: 10px;
}

.zag p {
    font-size: 18px;
    text-align: center;
    color: var(--purple-dark);
}

.zag b {
    font-size: 20px;
    color: var(--purple-dark);
    
}




/* Педагоги */
.ped {
    display: flex;
    justify-content: center;
}

.pd{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.b b{
    color: var(--purple-light);
    font-size: 22px;
}

@media (hover: hover) {
.b b:hover {
    text-decoration: underline;
}
} 

.pdg {
    border-radius: 5vh;
    pointer-events: none;
    width: 70%;
    margin: 25px;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.ped h1 {
    padding: 20px 0 0 0; 
    color: var(--purple-light);
    font-family: "TTNorms-bold";
    font-size: 55px;
    text-align: center;
}   

@media (hover: hover) {
.ped h1:hover {
    text-decoration: underline;
}
} 

.ped h2 {
    color: var(--purple-dark);
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

.p {
    text-align: center;
    padding: 20px 0; 
    width: 70%;
    margin: 0 auto;
}

.p p {
    text-align: center;
    color: var(--purple-dark);
    font-size: 30px;    
    padding: 20px 0; 
}

.p b {
    color: var(--purple-dark);
}

.p u {
    color: var(--purple-light);
    
    font-weight: bold;
    font-size: 35px;
}

@media (hover: hover) {
.p u:hover {
    text-decoration: underline;
}
} 





/* Плеер */
.video-container {
  display: block;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 10px auto;
    max-width: 70%;
    position: relative;
    display: inline-block;
    
}

.video-container img {
    height: 40px;
    width: 40px;
}

.play_btn:hover {
    position: relative;
    transform: scale(1.1)
}

.controls_stop:hover {
    position: relative;
    transform: scale(1.1)
}

.video {
    max-width: 100%;
    width: 100%;
    border-radius: 5vh 5vh 0 0;
    cursor: pointer;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.controls {
    background: var(--gray-dark);
    border-radius: 0 0 5vh 5vh;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    margin-top: -5px;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.controls_stop {
    margin-left: 20px;
    cursor: pointer;
}

.controls_play {
    cursor: pointer;
}

.controls_progress {
    display: flex;
    width: 100%;
    margin: 0 0px 0 20px;
}

.controls_time {
    margin-left: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--light);
}

.overlay img {
    width: 90px; /* Устанавливаем ширину изображения, изменить по необходимости */
    height: auto; /* Автоматическое изменение высоты согласно пропорциям */
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.play-overlay {
    position: absolute; /* Позволяет накладывать изображение поверх видео */
    top: 50%; /* Ставим верхний край на 50% от высоты контейнера */
    left: 50%; /* Ставим левый край на 50% от ширины контейнера */
    transform: translate(-50%, -50%); /* Сдвигаем изображение обратно на 50% по высоте и ширине */
    cursor: pointer; /* Указывает, что элемент кликабелен */
    width: 50px; /* Устанавливаем ширину изображения, изменить по необходимости */
    height: auto; /* Автоматическое изменение высоты согласно пропорциям */
    z-index: 10; /* Убедитесь, что изображение выше, чем видео (если необходимо) */
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
 
input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--light);
    border-radius: 5px;
    width: 10px;
    height: 30px;
    margin-top: -10px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: var(--grey-light);
    border-radius: 5px;
}





/* Слайдер */
.slider {
    width: 100%;
    max-width: 70%;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    text-align: center;
    border-radius: 5vh;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    pointer-events: none;
}

.slide {
    flex-shrink: 0;
    width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(223, 9, 194, 0.0);
    border: none;
    padding: 15px;
    cursor: pointer;
    z-index: 2;
    border-radius: 100%;
}

@media (hover: hover) {
.prev:hover, .next:hover {
    background: var(--gray-dark);
}
}

.prev {
    left: 10px;
}

.prev img{
    height: 30px;
}

.next {
    right: 10px;
}

.next img{
    height: 30px;
}
































/* Адаптивность */
@media (max-width: 768px) {

/* Выбор направления */
.vb {
    padding-top: 50px;
}

.vb h1 {
    font-family: "TTNorms-bold";
    color: var(--purple-dark);
    font-size: 26px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

.vb h2 {
    color: var(--purple-dark);
    text-align: center;
    font-size: 22px;
    font-weight: normal;
}





/* Направления */
.nap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 50px 0;
}

.np {
    margin: 0 0 10px 0;
    cursor: text;
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 90%;
}

.foto {
    border-radius: 100%;  
    cursor: pointer;
}

.foto img {
    width: 150px;
    pointer-events: none;
    display: block;
}

.activ {
    background-image: var(--gradient);
    transition: all 250ms ease;
    position: relative;
    transform: scale(1.0)
}

@media (hover: hover) {
.foto:hover {
    background-image: var(--gradient);
    transition: all 250ms ease;
    position: relative;
    transform: scale(1.1)
}
}
.ft {
    position:absolute;
    margin-top: -150px;
    margin-left: 1px;
}

@media (hover: hover) {
.ft:hover {
    transition: all 50ms ease;
    margin-top: -6px;
    margin-left: -257px;
}
}

.zag {   
    padding-top: 10px;
    width: 250px;
}

.zag p {
    font-size: 20px;
    text-align: center;
    color: var(--purple-dark);
}

.zag b {
    font-size: 16px;
    color: var(--purple-dark);
    white-space: nowrap;
}


/* Педагоги */
.ped {
    display: flex;
    justify-content: center;
}

.pd{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.b b{
    color: var(--purple-light);
    font-size: 18px;
}

@media (hover: hover) {
.b b:hover {
    text-decoration: underline;
}
} 

.pdg {
    border-radius: 0vh;
    pointer-events: none;
    width: 100%;
    margin: 25px;
}

.ped h1 {
    padding: 20px 0 0 0; 
    color: var(--purple-light);
    font-family: "TTNorms-bold";
    font-size: 26px;
    text-align: center;
}   

@media (hover: hover) {
.ped h1:hover {
    text-decoration: underline;
}
} 

.ped h2 {
    color: var(--purple-dark);
    font-size: 22px;
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

.p {
    text-align: center;
    padding: 20px 0; 
    width: 90%;
    margin: 0 auto;
}

.p p {
    text-align: center;
    color: var(--purple-dark);
    font-size: 22px;    
    padding: 20px 0; 
}

.p b {
    color: var(--purple-dark);
}

.p u {
    color: var(--purple-light);
    font-weight: bold;
    font-size: 22px;
}

@media (hover: hover) {
.p u:hover {
    text-decoration: underline;
}
} 





/* Плеер */
.video-container {
  display: block;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 10px auto;
    max-width: 100%;
    position: relative;
    display: inline-block;
}

.video-container img {
    height: 40px;
    width: 40px;
}

.play_btn:hover {
    position: relative;
    transform: scale(1.1)
}

.controls_stop:hover {
    position: relative;
    transform: scale(1.1)
}

.video {
    max-width: 100%;
    width: 100%;
    border-radius: 0vh 0vh 0 0;
    cursor: pointer;
}

.controls {
    background: var(--gray-dark);
    border-radius: 0 0 0vh 0vh;
    display: flex;
    align-items: center;
    padding: 0px 0px;
    margin-top: -5px;
}

.controls_stop {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}

.controls_play {
    cursor: pointer;
    display: none;
}

.controls_progress {
    display: flex;
    width: 100%;
    margin: 0 0px 0 20px;
    display: none;
}

.controls_time {
    margin-left: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--light);
}

.overlay img {
    width: 50px; /* Устанавливаем ширину изображения, изменить по необходимости */
    height: auto; /* Автоматическое изменение высоты согласно пропорциям */
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.play-overlay {
    position: absolute; /* Позволяет накладывать изображение поверх видео */
    top: 50%; /* Ставим верхний край на 50% от высоты контейнера */
    left: 50%; /* Ставим левый край на 50% от ширины контейнера */
    transform: translate(-50%, -50%); /* Сдвигаем изображение обратно на 50% по высоте и ширине */
    cursor: pointer; /* Указывает, что элемент кликабелен */
    width: 50px; /* Устанавливаем ширину изображения, изменить по необходимости */
    height: auto; /* Автоматическое изменение высоты согласно пропорциям */
    z-index: 10; /* Убедитесь, что изображение выше, чем видео (если необходимо) */
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
 
input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--light);
    border-radius: 5px;
    width: 10px;
    height: 30px;
    margin-top: -10px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: var(--grey-light);
    border-radius: 5px;
}





/* Слайдер */
.slider {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    text-align: center;
    border-radius: 0vh;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    pointer-events: none;
}

.slide {
    flex-shrink: 0;
    width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(223, 9, 194, 0.0);
    border: none;
    padding: 15px;
    cursor: pointer;
    z-index: 2;
    border-radius: 100%;
}

@media (hover: hover) {
.prev:hover, .next:hover {
    background: var(--gray-dark);
}
}

.prev {
    left: 10px;
}

.prev img{
    height: 30px;
}

.next {
    right: 10px;
}

.next img{
    height: 30px;
}

}








