footer {
    background-image: var(--gradient);
    display: flex;
    height: 100px;
}

footer .footer{
    display: flex;
    margin: auto;
    width: 70%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

footer .name {
    display: flex;
    flex-direction: column;
    margin: 0 40px 0 0;
}

footer .name1 {
    font-family: "TTNorms-bold";
    font-size: 26px;
    white-space: nowrap;
}

footer .name2 {
    font-size: 15px;
}

footer .dir {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 15px;
}

footer .dir p {
    font-size: 15px;
}





/* Адаптивность */
@media (max-width: 768px) {

footer {
    background-image: var(--gradient);
    display: flex;
    height: 100px;
}

footer .footer{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

footer .name {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0;
}

footer .name1 {
    font-family: "TTNorms-bold";
    font-size: 20px;
    white-space: nowrap;
}

footer .name2 {
    font-size: 15px;
}

footer .dir {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 15px;
}

footer .dir p {
    font-size: 15px;
}

}
