/* Шрифты */
@font-face {
    font-family: "TTNorms-Regular";
    src: url(/font/TTNorms-Regular.woff2);
}

@font-face {
    font-family: "TTNorms-Bold";
    src: url(/font/TTNorms-Bold.woff2);
}






/* Шаблоны */
:root {
    --light: #f7fcfc;
    --dark: #171717;
    --grey-light: #9f9f9f;
    --gray-dark: #2c2c2c;
    --purple-light: #9526c0;
    --purple-dark: #5a205a;
    --gradient: linear-gradient(10deg,#5a205a 0%, #9526c0 100%);
}





/* Базовые настройки */
*{
    margin: 0;
    padding: 0;
    font-family: "TTNorms-Regular";
    color: var(--light);
    text-decoration: none;
}





/* Плавная анимация перемещений */
html {
  scroll-behavior: smooth;
}





/* Белый фон */
body {
    background: var(--light);
}





/* Скролл бар */
body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: var(--gray-dark);
}

body::-webkit-scrollbar-thumb {
  background: var(--grey-light);
  border-radius: 20px;
  border: 3px solid var(--gray-dark);
}





#top img {
    width: 100px;
    height: 35px;
    pointer-events: none;
    transition: filter 0.3s ease;
}

/* Стиль по умолчанию */
#top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
    z-index: 10;
    transition: filter 0.3s ease;
}

/* При попадании в подвал — меняем цвет (пример: делаем белым) */
#top.in-footer img {
    filter: brightness(0) invert(1); /* Пример: иконка становится белой */
}

@media (hover: hover) {
    #top:hover {
        transform: scale(1.1);
    }
}














/* Адаптивность */
@media (max-width: 768px) {
    
/* Якорь */
#top img {
    width: 75px;
    height: 25px;
}

#top {
    width: 75px;
    height: 25px;
}

}