.block-2-1 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-column: 1 / -1;
    aspect-ratio: 2 / 1;
    padding: 20px;
}





.block-2-2 {    
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    background: #ffffff25;
    grid-column: 1 / -1;
}

.block-2-2 > div:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.block-2-2 > div:last-of-type div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.block-2-2 > div:last-of-type p {
    font-weight: 500;
}





.block-2-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1 / -1;
    aspect-ratio: 2 / 1;
}

.block-2-3 img {
    height: 80px;
}





.block-2-4 {    
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    grid-column: 1 / -1;
}

.block-2-4 > div{
    display: flex;
    align-items: center;
    gap: 10px;
}