header {
    background: var(--gradient);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin: auto;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.brand img {
    height: 80px;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title {
    font-size: var(--text22);
    font-weight: 700;
    color: var(--light);
}

.subtitle {
    color: var(--light);
}





/* Мобилка */
@media (max-width: 480px) {
    header {
        background: var(--purple-light);
        width: 100dvw;
    }

    .brand {
        gap: 20px;
    }

    .brand img {
        height: 70px;
    }

    .title {
        font-size: 18px;
    }

    .subtitle {
        font-size: 13px;
    }
}