main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: var(--white);
    padding: 30px;
    border-radius: var(--radius-big);
    border: 1px solid var(--glass);
    box-shadow: var(--shadow);
}



/* Мобилка */
@media (max-width: 480px) {
    main {
        gap: 20px;
        padding: 20px;
    }

    .card {
        gap: 20px;
        padding: 20px;
    }
}