/* Импорты */
@import "/assets/css/block-1.css";
@import "/assets/css/block-2.css";
@import "/assets/css/block-3.css";

@font-face {
    font-family: "TTNorms";
    src: url("/assets/fonts/TTNorms-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "TTNorms";
    src: url("/assets/fonts/TTNorms-Medium.woff2");
    font-weight: 500;
}

@font-face {
    font-family: "TTNorms";
    src: url("/assets/fonts/TTNorms-Bold.woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Polonium";
    src: url("/assets/fonts/Polonium-Bold.woff2");
    font-weight: 700;
}

:root {
    --light: #ecf0f3;
    --beige: #dcd6c8;
    --dark: #141414;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "TTNorms";
    text-decoration: none;
}

img {
    display: block;
}

body {
    background: var(--dark);
}

.topbar {
    pointer-events: none;
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    height: 11px;
    background: var(--dark);
    mask-image: linear-gradient(to right, transparent, transparent);
}

.bottombar {
    pointer-events: none;
    position: fixed;
    bottom: 0px;
    z-index: 999;
    width: 100%;
    height: 11px;
    background: var(--dark);
    mask-image: linear-gradient(to right, transparent, transparent);
}

body {
    min-width: 360px;
    max-width: 480px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-image: url("/assets/images/backgrounds/1.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    padding: 40px;
    gap: 40px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.header img {
    height: 40px;
}

.header div{
    display: flex;
    gap: 10px;
}

.header p {
    text-align: center;
}

.header div > p {
    padding: 5px 10px;
    border-radius: 25px;
    background: var(--light);
    color: var(--dark);
    font-weight: 700;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.card {
    border-radius: 25px;
    border: 1px solid #ebebeb2a;
    backdrop-filter: blur(25px);
    box-shadow:
        0 5px 25px #00000030,
        inset 10px 10px 20px 0px #00000030,
        inset -10px -10px 20px 0px #ffffff10;
    gap: 10px;
}

h1 {
    font-family: "Polonium";
    letter-spacing: 3px;
    color: var(--light);
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    color: var(--light);
    font-size: 16px;
    text-transform: uppercase;
}

p {
    color: var(--light);
    font-size: 12px;
}